$page-background-color: #fff;
$white-color: #fff;
$dark-color:#000;
$spacing-unit: 1.5rem;  
$main-color: #2f1c6a;
$main-border:#d5dfff;
$mutted-color:#727586;
$main-color-light:#ebe4ff;
$menu-color: rgb(12, 162, 112);
$nav-bar-shadow: 0 4px 10px rgba(0,0,0,.1);
$button-color:#673de6;
$second_main_color:#673de6; 
$main-font: 'DM Sans', sans-serif;
$sign-in-border: #1d1e20; 
$sign-in-color:#1d1e20;
$rounded:0.25rem;
$font-xs: 500;
$font-md: 600;
$font-lg: 700;
$green-color: rgb(13, 172, 119);
