$page-background-color: #fff;
$white-color: #fff;
$spacing-unit: 1.5rem;  
$main-color: #2f1c6a;
$main-border:#d5dfff;
$menu-color: rgb(12, 162, 112);
$nav-bar-shadow: 0 4px 10px rgba(0,0,0,.1);
$button-color:#673de6;
$main-font: 'DM Sans', sans-serif;
$sign-in-border: #1d1e20; 
$rounded:0.25rem;
$font-xs: 500;
$font-md: 600;
$font-b: 700;
