@import "_variables.scss";
@import "_media.scss";
@import "_mixins.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $page-background-color;
  font-family: $main_font;
  color: $main-color;
  font-size: 16px;
  padding-top: 9rem;
  @include  for-tablet-portrait-up  {
    padding-top: 9rem;
  }
  @include  for-tablet-landscape-up {
    padding-top: 10rem;
  }
  
}

.container,.container-fluid { 
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  position: relative;
  
} 
.container-fluid {
  @include for-desktop-up {
    max-width: 118.75rem;
    
  } 
}
.container{ 
  @include  for-tablet-landscape-up {
    max-width: 75rem;
  }
  @include for-desktop-up {
    max-width: 87.5rem;  
  }  
  
}

// Helpers

h2,h3,h4,h5 {
  margin: 0;
}
h1 {
  font-size: 1.2rem;
  @include  for-tablet-portrait-up  {
    font-size: 1.2rem;
  }
}
.fa-solid.fa-check {
  color: $green-color;
  padding-right: 0.4rem;
}
.fa-regular.fa-circle-question {
  font-size: 1rem;
  color: $main-color;
}
.lead {
  font-size:1.2rem;
  @include  for-tablet-portrait-up  {
    font-size:1.3rem;
  }
}
.text-mutted {
  color: $mutted-color;
}
select {
  outline: none;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}

.block {
  display: block;
}
a {
  text-decoration: none;
  color: $main-color;
}

ul {
  padding-left: 0;
  list-style: none;
}

a:hover {
  text-decoration: underline;
}
button {
  all: unset;
}
button:focus {
  outline: none;
}


//  Header
header {
  .navbar {
    z-index: 9;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $nav_bar_shadow;
    .languages {
      display: none;
      padding: 0 0.6rem;
      align-items: center;
      @include for-tablet-landscape-up {
        display: flex;
      }
      &:hover {
        text-decoration: none;
      }
      img {
        padding-left: 1rem;
        padding-right: 0.4rem;
        height: 1.4rem;
      }
      span {
        color: #1d1e20;
        font-weight: $font-md;
      }
    }
    .mobile-menu {
      position: absolute;
      top: 5.375rem;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $white-color;
      display: none;
      overflow: scroll;
      position: fixed;
      height: 100%;
      padding: 0 1.4rem;
      text-align: left;
      
      .languages {
        display: flex;
        padding-left: 0;
        img {
          padding-left: 0;
        }
      }
      &.open { 
        display: block;
        @include for-tablet-landscape-up {
          display: none;
        }
        .navbar-nav {
          display: block;
          .mobile-lang {
            display: block;
          }
          .sign-in {
            color: $button-color;
            border: 2px solid $button-color;
          }
        }
      }
    }
    .hamburger {
      display: block;
      @include for-tablet-landscape-up { 
        display: none; 
      }
    }
    
    .navbar-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
      text-align: center;
      @include for-tablet-landscape-up {
        align-items: center; 
        
      }
      .navbar-nav {
        display: none;
        @include for-tablet-landscape-up {
          display: flex;
          align-items: center;
        }
        li {
          padding: 1rem 0;
          display: block;
          width: 100%;
          @include for-tablet-landscape-up {
            padding:0 1rem;
            width: auto;
          }
          .sign-in {
            border: 0.125rem solid $sign_in_border;
            border-radius: $rounded;
            padding: 0.6rem 1.6rem;
            display: block;
            text-align: center;
            color: $sign-in-color;
            @include for-tablet-landscape-up {
              display: inline-block;
            }
            
            &:hover {
              border-color: $second_main_color;
              background-color: $second_main_color;
              color:$white-color;
            }
          }
          @include for-tablet-landscape-up {   
            display: inline-block;
          }
          a {
            transition: 0.4s;
            font-weight: $font-xs;
            color:$main_color;
            
            &:hover {
              color:rgb(42, 42, 42);
              text-decoration: none;
            }
          }
        }
      }
      .left_nav {
        display: flex;
        
      }
      .navbar-brand {
        background: url(../img/Hostinger-logo.png) no-repeat left;
        height: 2.4rem;
        width: 9rem;
        text-indent: -99999rem;
        display: inline-block;
        background-size: cover;
      }
      
    }
    
  } 
  
}

//  Content
.wrap {
  main {
    .two-cols {
      @include for_grid_columns_1;
      align-items: center;
      text-align: center;
      
      @include for-desktop-up {  
        text-align: left;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
      }
      .left-side {
        
        .left-side-wrapper {
          
          .left-side__heading-wrapper {
            padding-bottom: 1rem;
          }
          .left-side__text-wrapper {
            padding-bottom: 1rem;
          }
          
          .left-side__for-free-wrapper {
            padding: 1rem 0;
            
            .countdown-wrap {
              
              .countdown-wrap__wrap-cards {
                @include for_flex_justify_center;
                text-align: center;
                border-radius: $rounded;
                font-size: 1.3rem;
                font-weight: $font-md;
                padding-bottom: 1.4rem;
                
                
                @include for-desktop-up {  
                  justify-content: start;
                }
                .count_down_column {
                  @include for_flex_justify_center;
                  align-items: center;
                  text-align: center;
                  .count_down {
                    @include for_flex_justify_center;
                    border: 0.063rem solid $main-color;
                    background: $white-color;
                    width: 4rem;
                    height: 4rem;
                    border-radius: $rounded;
                    align-items: center;
                  }
                  .count_divider {
                    margin: 0px 0.5rem 0;
                  }
                }
                
              }
            }
            
            
          }
          h2 {
            font-size:	1.375rem;
            @include for-tablet-portrait-up{ 
              font-size:	1.7rem;
            }
            @include for-desktop-up { 
              font-size:	2.375rem;
            }
          }
        }
      }
      .right-side {
        padding-top: 1rem;
        @include for-desktop-up { 
          padding-top: 0;
        }
        .right-side__wrapper {
          
          @include for-tablet-landscape-up { 
            width: 650px;
            margin: auto;
          }
          
          @include for-medium-desktop-up { 
            width: 49.063rem;
            
          }
          @include for-big-desktop-up { 
            width: 51.938rem;
            
          }
          
        }
      }
      
    }
    .free-text {
      padding-bottom: 1rem;
      p {
        font-weight: $font-lg;
      }
    }
    .price-wrapper { 
      align-items: baseline; 
      font-size: 1rem;
      @include for_flex_justify_center;
      @include for-tablet-portrait-up {
        font-size: 1.3rem;
      }
      @include for-desktop-up {
        justify-content: start;
      }
      .price_number {    
        font-size: 2.3rem;  
        font-weight: $font-lg;
        @include for-tablet-portrait-up {
          font-size: 3rem;  
        }
      } 
      .price_currency {
        padding-left: 0.6rem;
        font-size: 1.2rem;
      }  
    }
    .button-wrapper {
      padding-bottom: 1rem;
      button {
        display: inline-block;
        justify-content: flex-start;
        background-color: $button-color;
        padding: 1rem 0;
        text-align: center;
        color: $white-color;
        width: 20rem;
        font-weight: $font-md;
        border-radius: $rounded;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover {
          background-color: #5025d1;
        }
      }
    }
    .heading-wrapper { 
      padding-bottom: 2rem;
      text-align: center;
      @include for-tablet-landscape-up {
        padding-bottom: 3rem;
      }
      @include for-desktop-up { 
        padding-bottom: 4rem;
      }
      .heading-title {
        font-size: 1.6rem;
        margin-bottom: 1.3rem;
        @include for-tablet-landscape-up {
          font-size: 2rem;
        }
        @include for-desktop-up {
          font-size: 2.5rem;
        }
      }
      .heading-subtitle {
        margin: auto;
        @include for-tablet-landscape-up {
          max-width: 56.25rem;
        }
      }
    }
    .middle-content {
      padding: 2rem 0 0; 
      @include for-desktop-up { 
        padding: 4rem 0; 
      }
      .one-col {
        text-align: center;
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 4rem;
        padding: 2rem 0;
        @include for-tablet-portrait-up {
          text-align: left; 
          padding: 3rem 0;
          display: flex;
        } 
        @include for-desktop-up { 
          padding: 3rem 0 5rem; 
          gap: 24rem;  
          
        }
        .column { 
          .results {
            display: block;
            gap: 1rem;
            color: $dark-color;   
            padding-bottom: 1rem; 
            @include for-desktop-up {
              display: flex;
              padding-bottom: 0rem;
            }
          }
          svg {
            width: 11.188rem;
          }
          img {
            width: 9.563rem;
            margin:auto;
            @include for-tablet-landscape-up {
              margin-left: 0;
            }
          }
        }
      }
      .plans-section {
        text-align: center;
        
        .plans-section__wrapper {
          
          .plans-section__inner {
            @include for_grid_columns_1;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            border: 0.063rem solid $main-border;
           
            @include for-tablet-portrait-up {
              grid-template-columns: repeat(2, 1fr);
              padding: 2rem 0;
            }
            @include for-tablet-landscape-up {
              grid-template-columns: repeat(3, 1fr);
              border-radius: $rounded;
              
            }
            @include for-desktop-up {
              margin-left: $spacing-unit;
              margin-right: $spacing-unit;
              max-width: 75rem;
              margin: auto;
            }
            .section_column {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 100%;
              padding: 1rem 1.4rem;
              font-size: 0.9rem;
              h2 {
                font-size: 1.2rem;
                @include for-tablet-landscape-up {
                  font-size: 1.6rem;
                }
              }
              &:first-child {
                display: none;
                @include for-tablet-landscape-up {
                  display: flex;
                  border-right: 0.063rem solid $main-border;
                }
                
              }
              &:nth-child(2) {
                border-right: 0;
                @include for-tablet-portrait-up {
                  border-right: 0.063rem solid $main-border;
                }
              }
              
              @include for-desktop-up {
                border-right: 0.063rem solid $main-border;
              }
              .price-wrapper {
                justify-content: center;
              }
              .free-text {
                .lead {
                  color: $button-color;
                }
              }
              .ordering-plan {
                padding: 1rem 0;
              }
              .continue-plan {
                padding: 0rem 0 0.9rem;
                border-bottom: 0.063rem solid $main-border;
                @include for-tablet-portrait-up {
                  padding: 0;
                  border-bottom: 0;
                }
                
              }
              .button-wrapper {
                
                button {
                  max-width: 15.5rem; 
                }
              }
              .section_column__content {
                padding-bottom: 0.9rem;
                display: flex;
                justify-content: space-between;
                text-align: left;
                .font-weight-bold {
                  font-weight: $font-lg;
                }
              }
              &:last-child {
                border-right: 0;
              }
              .discount_info {
                @include for_flex_justify_center;
                gap: 1rem;
                align-items: center;
                padding: 1rem 0;
                .discount__price_old {
                  span { 
                    text-decoration: line-through;
                  }
                }
                .discount__badge {
                  span {
                    border-radius: 4rem;
                    display: inline-block;
                    padding: 0.5rem 1rem;
                    background-color: $main-color-light;
                    color: #5025d1;
                    text-transform: uppercase;
                    font-weight: $font-lg;
                  }
                }
              }
              
            }
          }
          .plans-section__toogle_more {
            padding: 1.2rem 0;
            @include for-left_bottom_right_border;
            @include for-tablet-landscape-up {
              display: none;
            }
            a { 
              color: $second_main_color;
              font-weight: $font-lg;
              
            }
          }
          .plans-section__bottom {
            text-align: center;
            padding: 2rem 0;
            @include for-tablet-landscape-up{
              padding: 3rem 0;
            }
            a { 
              color: $second_main_color;
              font-weight: $font-lg;
              
            }
          }
          
          
        }
        
      }
      .builder-section   {
        padding-bottom: 2rem;
        @include for-desktop-up {
          padding-bottom: 3rem;
        }
        
        .builder-section__nav {
          @include for_flex_justify_center;
          text-align: center;
          .nav-for-desktop {
            display: none;
            @include for-tablet-landscape-up {
              display: block;
            }
          }
          .nav-for-mobile {
            display: block;
            background-color: $white-color;
            border: 1px solid $main-border;
            width: 100%;
            padding: 0.813rem 1rem;
            
            @include for-tablet-landscape-up {
              display: none;
            }
          }
          ul {
            border-bottom: 0.063rem solid $main-border;
            li {
              
              padding: 0 0rem 1rem;
              display: inline-block;
              a {
                color: $main-color;
                text-decoration: none;
                padding-bottom: 0.9rem;
                font-weight: $font-md;
                padding: 0 1rem 0.9rem;
                
                &:hover,&.active {
                  color: $second_main_color;
                  border-bottom: 0.125rem solid $second_main_color;
                }
              }
            }
          }
        }
      }
      .grid-images-section {
        @include for_grid_columns_1;
        gap: 2rem;
        padding-bottom: 3rem;
        @include for-desktop-up {
          padding-bottom: 0;
        }
        img {
          margin: auto;
          max-height: 18.688rem;
          object-fit: cover;
          width: 100%;
          @include for-tablet-portrait-up {
            max-height: 31.188rem;
          }
          @include for-desktop-up {
            max-height:auto;
          }
        }
        
        @include for-desktop-up {
          grid-template-columns: 3fr 3fr 1fr 3fr; 
          
        }
      }
      
    }
    .features-section {
      text-align: center;
      color: $white-color;
      padding: 3rem 0;
      background-color: $main-color;
      .heading-title{
        margin-bottom: 0;
      }
      .features-section_list {
        text-align: center;
        padding-bottom: 1rem;
        ul{
          li {
            padding-bottom: 1rem;
          }
        }
      }
      .button-wrapper  {
        button {
          background-color: $button-pink;
        }
      }
      @include for-tablet-landscape-up {
        display: none;
      }
    }
  }
  
  //footer
  footer {
    padding: 4rem 0;
    background-color: $main-color-light;
  }
}