@import "_variables.scss";
@import "_media.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $page-background-color;
  font-family: $main_font;
  color: $main-color;
  font-size: 16px;
  padding-top: 9rem;
  @include  for-tablet-portrait-up  {
    padding-top: 9rem;
  }
  @include  for-tablet-landscape-up {
    padding-top: 10rem;
  }
  
}
.fa-solid.fa-check {
  color: rgb(13, 172, 119);
  padding-right: 0.4rem;
}
h2,h3,h4,h5 {
  margin: 0;
}
h1 {
  font-size: 1.2rem;
  @include  for-tablet-portrait-up  {
    font-size: 1.2rem;
  }
}

.lead {
  font-size:1.3rem
}
.container,.container-fluid { 
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  position: relative;
  
} 
.container-fluid {
  @include for-desktop-up {
    max-width: 1900px;
    
  }
}
.container{
  @include  for-tablet-landscape-up {
    max-width: 1400px;
  }
  @include for-desktop-up {
    max-width: 1400px;
  }
  @include for-desktop-up {
    max-width: 1400px;
  }
}

// Helpers

img {
  height: auto;
  display: block;
  max-width: 100%;
}

.block {
  display: block;
}
a {
  text-decoration: none;
  color: $main-color;
}

ul {
  padding-left: 0;
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

btn:focus {
  outline: none;
}


//  Header
header {
  .navbar {
    z-index: 9;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $nav_bar_shadow;
    .languages {
      display: none;
      padding: 0 0.6rem;
      align-items: center;
      @include for-tablet-landscape-up {
        display: flex;
      }
      &:hover {
        text-decoration: none;
      }
      img {
        padding-left: 1rem;
        padding-right: 0.4rem;
        height: 1.4rem;
      }
      span {
        color: #1d1e20;
        font-weight: $font-md;
      }
    }
    .mobile-menu {
      position: absolute;
      top: 86px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $white-color;
      display: none;
      overflow: scroll;
      position: fixed;
      height: 100%;
      padding: 0 1.4rem;
      text-align: left;
      .languages {
        display: flex;
        padding-left: 0;
        img {
          padding-left: 0;
        }
      }
      &.open { 
        display: block;
        .navbar-nav {
          display: block;
          .mobile-lang {
            display: block;
          }
          .sign-in {
            color: $button-color;
            border: 2px solid $button-color;
          }
        }
      }
    }
    .hamburger {
      display: block;
      @include for-tablet-landscape-up { 
        display: none; 
      }
    }
    
    .navbar-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
      text-align: center;
      @include for-tablet-landscape-up {
        justify-content: space-between;
        align-items: center; 
        
        
      }
      .navbar-nav {
        display: none;
        @include for-tablet-landscape-up {
          display: flex;
          align-items: center;
        }
        li {
          padding: 1rem 0;
          display: block;
          width: 100%;
          @include for-tablet-landscape-up {
            padding:0 1rem;
            width: auto;
          }
          .sign-in {
            border: 0.125rem solid $sign_in_border;
            border-radius: $rounded;
            padding: 0.6rem 1.6rem;
            display: block;
            color: #1d1e20;
            @include for-tablet-landscape-up {
              display: inline-block;
            }
            
            &:hover {
              border-color: $second_main_color;
              background-color: $second_main_color;
              color:$white-color;
            }
          }
          @include for-tablet-landscape-up {   
            display: inline-block;
          }
          a {
            transition: 0.4s;
            font-weight: $font-xs;
            color:$main_color;
            
            &:hover {
              color:rgb(42, 42, 42);
              text-decoration: none;
            }
          }
        }
      }
      .left_nav {
        display: flex;
        
      }
      .navbar-brand {
        background: url(../img/Hostinger-logo.png) no-repeat left;
        height: 2.4rem;
        width: 9rem;
        text-indent: -99999px;
        display: inline-block;
        background-size: cover;
      }
      
    }
    
  } 
  
}

//  Content

main {
  padding:0 0 5rem 0;
  
  .two-cols {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    
    @include for-desktop-up {  
      text-align: left;
      grid-template-columns: repeat(2, 1fr);
    }
    .left-side {
      max-width: 100%;
      .left-side-wrapper {
        max-width: 500px;
        margin: auto;
        @include for-tablet-landscape-up {  
          max-width: 800px;
        }
        @include for-desktop-up {  
          max-width: 500px;
        }
        
        .left-side__heading-wrapper {
          padding-bottom: 1rem;
        }
        .left-side__text-wrapper {
          padding-bottom: 1rem;
        }
        
        .left-side__for-free-wrapper {
          padding: 1rem 0;
          
          .countdown-wrap {
            
            .countdown-wrap__wrap-cards {
              text-align: center;
              display: flex;
              border-radius: $rounded;
              font-size: 1.3rem;
              font-weight: $font-md;
              padding-bottom: 1.4rem;
              justify-content: center;
              
              @include for-desktop-up {  
                justify-content: start;
              }
              .count_down_column {
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .count_down {
                  border: 1px solid $main-color;
                  background: $white-color;
                  width: 64px;
                  height: 64px;
                  border-radius: $rounded;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .count_divider {
                  margin: 0px 8px 0;
                }
              }
              
            }
          }
          
          
        }
        h2 {
          font-size:	2.375rem;
          
        }
      }
    }
    .right-side {
      width: 100%;
      
      @include for-desktop-up { 
        
      }
      @include for-big-desktop-up { 
        max-width: 778px;
      }
      .right-side__wrapper {
        width: 100%;
        @include for-tablet-landscape-up { 
          width: 650px;
          margin: auto;
        }
        @include for-desktop-up { 
          width: 650px;
          
        }
        @include for-medium-desktop-up { 
          width: 785px;
          
        }
        @include for-big-desktop-up { 
          width: 831px;
          
        }
        
      }
    }
    
  }
  .free-text {
    padding-bottom: 1rem;
    p {
      font-weight: $font-lg;
    }
  }
  .price-wrapper {
    display: inline-flex;
    align-items: baseline;
    
    .price_number {
      font-size: 3rem;
      font-weight: $font-lg;
    }
    .price_currency {
      padding-left: 0.6rem;
      font-size: 1.2rem;
    }
  }
  .button-wrapper {
    padding-bottom: 1rem;
    button {
      display: inline-block;
      justify-content: flex-start;
      all: unset;
      background-color: $button-color;
      padding: 1rem 0;
      text-align: center;
      color: $white-color;
      width: 320px;
      font-weight: $font-md;
      border-radius: $rounded;
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        background-color: #5025d1;
      }
    }
  }
  .heading-wrapper { 
    padding-bottom: 2rem;
    text-align: center;
    @include for-tablet-landscape-up {
      padding-bottom: 3rem;
    }
    @include for-desktop-up { 
      padding-bottom: 5rem;
    }
    .heading-title {
      font-size: 1.8rem;
      margin-bottom: 1.3rem;
      @include for-tablet-landscape-up {
        font-size: 2.5rem;
      }
    }
    .heading-subtitle {
      margin: auto;
      @include for-tablet-landscape-up {
        max-width: 900px;
      }
    }
  }
  .middle-content {
    padding: 2rem 0; 
    @include for-desktop-up { 
      padding: 4rem 0; 
    }
    .one-col {
      text-align: center;
      display: block;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      gap: 4rem;
      padding: 2rem 0;
      @include for-tablet-portrait-up {
        text-align: left;
        padding: 3rem 0;
        display: flex;
      }
      @include for-desktop-up { 
        gap: 24rem;
        
      }
      .column {
        .results {
          display: block;
          gap: 1rem;
          color: $dark;   
          padding-bottom: 1rem; 
          @include for-desktop-up {
            display: flex;
            padding-bottom: 0rem;
          }
        }
        svg {
          width: 179px;
        }
        img {
          width: 153px;
          margin:auto
        }
      }
    }
    .plans-section {
      text-align: center;
      
      .plans-section__wrapper {
        
        .plans-section__inner {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: space-between;
          align-items: center;
          padding: 2rem 0;
          border: 1px solid $main-border;
          @include for-tablet-portrait-up {
            grid-template-columns: 1fr 1fr;
          }
          @include for-tablet-landscape-up {
            grid-template-columns: repeat(3, 1fr);
          }
          .section_column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 2rem 3rem;
            &:first-child {
              display: none;
              @include for-tablet-landscape-up {
                display: flex;
                border-right: 1px solid $main-border;
              }
              
            }
            &:nth-child(2) {
              border-right: 1px solid $main-border;
              @include for-desktop-up {
                border-right: none;
              }
            }
            font-size: 0.9rem;
            @include for-desktop-up {
              border-right: 1px solid $main-border;
            }
            .price-wrapper {
              justify-content: center;
            }
            .free-text {
              .lead {
                color: $button-color;
              }
            }
            .ordering-plan {
              padding: 1rem 0;
            }
            .button-wrapper {
              
              button {
                max-width: 248px;
              }
            }
            .section_column__content {
              padding-bottom: 0.9rem;
              display: flex;
              justify-content: space-between;
              text-align: left;
              .font-weight-bold {
                font-weight: $font-lg;
              }
            }
            &:last-child {
              border-right: 0;
            }
            .discount_info {
              display: flex;
              justify-content: center;
              gap: 1rem;
              align-items: center;
              padding: 1rem 0;
              .discount__price_old {
                span {
                  text-decoration: line-through;
                }
              }
              .discount__badge {
                span {
                  border-radius: 4rem;
                  display: inline-block;
                  padding: 0.5rem 1rem;
                  background-color: $main-color-light;
                  color: #5025d1;
                  text-transform: uppercase;
                  font-weight: $font-md;
                }
              }
            }
            
          }
        }
        .plans-section__toogle_more {
          padding: 1.2rem 0;
          border-left: 1px solid  $main-border;
          border-right: 1px solid  $main-border;
          border-bottom: 1px solid $main-border;
          @include for-tablet-landscape-up {
            display: none;
          }
          a { 
            color: $second_main_color;
            font-weight: $font-lg;
            
          }
        }
        .plans-section__bottom {
          text-align: center;
          padding: 2rem 0;
          @include for-tablet-landscape-up{
            padding: 3rem 0;
          }
          a { 
            color: $second_main_color;
            font-weight: $font-lg;
            
          }
        }
        
        
      }
      
    }
    .builder-section   {
      padding-bottom: 2rem;
      @include for-desktop-up {
        padding-bottom: 3rem;
      }
     
      .builder-section__nav {
        text-align: center;
        display: flex;
        justify-content: center;
        .nav-for-desktop {
          display: none;
          @include for-tablet-landscape-up {
            display: block;
          }
        }
        .nav-for-mobile {
          display: block;
          background-color: $white-color;
          border: 1px solid $main-border;
          width: 100%;
          padding: 13px 16px;
        
          @include for-tablet-landscape-up {
            display: none;
          }
        }
        ul {
          border-bottom: 1px solid $main-border;
          li {
            
            padding: 0 0rem 1rem;
            display: inline-block;
            a {
              color: $main-color;
              text-decoration: none;
              padding-bottom: 0.9rem;
              font-weight: $font-md;
              padding: 0 1rem 0.9rem;
            
              &:hover,&.active {
                color: $second_main_color;
                border-bottom: 2px solid $second_main_color;
              }
            }
          }
        }
      }
    }
    .grid-images-section {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      img {
        margin: auto;
        max-height: 299px;
        object-fit: cover;
        width: 100%;
        @include for-tablet-portrait-up {
          max-height: 499px;
        }
        @include for-desktop-up {
          max-height:auto;
        }
      }
      
      @include for-desktop-up {
        grid-template-columns: 3fr 3fr 1fr 3fr;
        grid-template-rows: 40px 4em 40px;
      }
    }
  }
}

//footer
footer {
  padding: 4rem 0;
  background-color: $main-color-light;
}