* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "DM Sans", sans-serif;
  color: #2f1c6a;
  font-size: 16px;
  padding-top: 9rem;
}

@media (min-width: 768px) {
  body {
    padding-top: 9rem;
  }
}

@media (min-width: 920px) {
  body {
    padding-top: 10rem;
  }
}

.container, .container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  position: relative;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 118.75rem;
  }
}

@media (min-width: 920px) {
  .container {
    max-width: 75rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 87.5rem;
  }
}

h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
}

.fa-solid.fa-check {
  color: #0dac77;
  padding-right: 0.4rem;
}

.fa-regular.fa-circle-question {
  font-size: 1rem;
  color: #2f1c6a;
}

.lead {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .lead {
    font-size: 1.3rem;
  }
}

.text-mutted {
  color: #727586;
}

select {
  outline: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

.block {
  display: block;
}

a {
  text-decoration: none;
  color: #2f1c6a;
}

ul {
  padding-left: 0;
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

button {
  all: unset;
}

button:focus {
  outline: none;
}

header .navbar {
  z-index: 9;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .navbar .languages {
  display: none;
  padding: 0 0.6rem;
  align-items: center;
}

@media (min-width: 920px) {
  header .navbar .languages {
    display: flex;
  }
}

header .navbar .languages:hover {
  text-decoration: none;
}

header .navbar .languages img {
  padding-left: 1rem;
  padding-right: 0.4rem;
  height: 1.4rem;
}

header .navbar .languages span {
  color: #1d1e20;
  font-weight: 600;
}

header .navbar .mobile-menu {
  position: absolute;
  top: 5.375rem;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  overflow: scroll;
  position: fixed;
  height: 100%;
  padding: 0 1.4rem;
  text-align: left;
}

header .navbar .mobile-menu .languages {
  display: flex;
  padding-left: 0;
}

header .navbar .mobile-menu .languages img {
  padding-left: 0;
}

header .navbar .mobile-menu.open {
  display: block;
}

@media (min-width: 920px) {
  header .navbar .mobile-menu.open {
    display: none;
  }
}

header .navbar .mobile-menu.open .navbar-nav {
  display: block;
}

header .navbar .mobile-menu.open .navbar-nav .mobile-lang {
  display: block;
}

header .navbar .mobile-menu.open .navbar-nav .sign-in {
  color: #673de6;
  border: 2px solid #673de6;
}

header .navbar .hamburger {
  display: block;
}

@media (min-width: 920px) {
  header .navbar .hamburger {
    display: none;
  }
}

header .navbar .navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  text-align: center;
}

@media (min-width: 920px) {
  header .navbar .navbar-inner {
    align-items: center;
  }
}

header .navbar .navbar-inner .navbar-nav {
  display: none;
}

@media (min-width: 920px) {
  header .navbar .navbar-inner .navbar-nav {
    display: flex;
    align-items: center;
  }
}

header .navbar .navbar-inner .navbar-nav li {
  padding: 1rem 0;
  display: block;
  width: 100%;
}

@media (min-width: 920px) {
  header .navbar .navbar-inner .navbar-nav li {
    padding: 0 1rem;
    width: auto;
  }
}

header .navbar .navbar-inner .navbar-nav li .sign-in {
  border: 0.125rem solid #1d1e20;
  border-radius: 0.35rem;
  padding: 0.6rem 1.6rem;
  display: block;
  text-align: center;
  color: #1d1e20;
}

@media (min-width: 920px) {
  header .navbar .navbar-inner .navbar-nav li .sign-in {
    display: inline-block;
  }
}

header .navbar .navbar-inner .navbar-nav li .sign-in:hover {
  border-color: #673de6;
  background-color: #673de6;
  color: #fff;
}

@media (min-width: 920px) {
  header .navbar .navbar-inner .navbar-nav li {
    display: inline-block;
  }
}

header .navbar .navbar-inner .navbar-nav li a {
  transition: 0.4s;
  font-weight: 500;
  color: #2f1c6a;
}

header .navbar .navbar-inner .navbar-nav li a:hover {
  color: #2a2a2a;
  text-decoration: none;
}

header .navbar .navbar-inner .left_nav {
  display: flex;
}

header .navbar .navbar-inner .navbar-brand {
  background: url(../img/Hostinger-logo.png) no-repeat left;
  height: 2.4rem;
  width: 9rem;
  text-indent: -99999rem;
  display: inline-block;
  background-size: cover;
}

.wrap main .two-cols {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .wrap main .two-cols {
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__heading-wrapper {
  padding-bottom: 1rem;
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__text-wrapper {
  padding-bottom: 1rem;
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__for-free-wrapper {
  padding: 1rem 0;
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__for-free-wrapper .countdown-wrap .countdown-wrap__wrap-cards {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0.35rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 1.4rem;
}

@media (min-width: 1200px) {
  .wrap main .two-cols .left-side .left-side-wrapper .left-side__for-free-wrapper .countdown-wrap .countdown-wrap__wrap-cards {
    justify-content: start;
  }
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__for-free-wrapper .countdown-wrap .countdown-wrap__wrap-cards .count_down_column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__for-free-wrapper .countdown-wrap .countdown-wrap__wrap-cards .count_down_column .count_down {
  display: flex;
  justify-content: center;
  border: 0.063rem solid #2f1c6a;
  background: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 0.35rem;
  align-items: center;
}

.wrap main .two-cols .left-side .left-side-wrapper .left-side__for-free-wrapper .countdown-wrap .countdown-wrap__wrap-cards .count_down_column .count_divider {
  margin: 0px 0.5rem 0;
}

.wrap main .two-cols .left-side .left-side-wrapper h2 {
  font-size: 1.375rem;
}

@media (min-width: 768px) {
  .wrap main .two-cols .left-side .left-side-wrapper h2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1200px) {
  .wrap main .two-cols .left-side .left-side-wrapper h2 {
    font-size: 2.375rem;
  }
}

.wrap main .two-cols .right-side {
  padding-top: 1rem;
}

@media (min-width: 1200px) {
  .wrap main .two-cols .right-side {
    padding-top: 0;
  }
}

@media (min-width: 920px) {
  .wrap main .two-cols .right-side .right-side__wrapper {
    width: 650px;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .wrap main .two-cols .right-side .right-side__wrapper {
    width: 49.063rem;
  }
}

@media (min-width: 1800px) {
  .wrap main .two-cols .right-side .right-side__wrapper {
    width: 51.938rem;
  }
}

.wrap main .free-text {
  padding-bottom: 1rem;
}

.wrap main .free-text p {
  font-weight: 700;
}

.wrap main .price-wrapper {
  align-items: baseline;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .wrap main .price-wrapper {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .wrap main .price-wrapper {
    justify-content: start;
  }
}

.wrap main .price-wrapper .price_number {
  font-size: 2.3rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .wrap main .price-wrapper .price_number {
    font-size: 3rem;
  }
}

.wrap main .price-wrapper .price_currency {
  padding-left: 0.6rem;
  font-size: 1.2rem;
}

.wrap main .button-wrapper {
  padding-bottom: 1rem;
}

.wrap main .button-wrapper button {
  display: inline-block;
  justify-content: flex-start;
  background-color: #673de6;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  width: 20rem;
  font-weight: 600;
  border-radius: 0.35rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.wrap main .button-wrapper button:hover {
  background-color: #5025d1;
}

.wrap main .heading-wrapper {
  padding-bottom: 2rem;
  text-align: center;
}

@media (min-width: 920px) {
  .wrap main .heading-wrapper {
    padding-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .wrap main .heading-wrapper {
    padding-bottom: 4rem;
  }
}

.wrap main .heading-wrapper .heading-title {
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
}

@media (min-width: 920px) {
  .wrap main .heading-wrapper .heading-title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .wrap main .heading-wrapper .heading-title {
    font-size: 2.5rem;
  }
}

.wrap main .heading-wrapper .heading-subtitle {
  margin: auto;
}

@media (min-width: 920px) {
  .wrap main .heading-wrapper .heading-subtitle {
    max-width: 56.25rem;
  }
}

.wrap main .middle-content {
  padding: 2rem 0 0;
}

@media (min-width: 1200px) {
  .wrap main .middle-content {
    padding: 4rem 0;
  }
}

.wrap main .middle-content .one-col {
  text-align: center;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 4rem;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .wrap main .middle-content .one-col {
    text-align: left;
    padding: 3rem 0;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .wrap main .middle-content .one-col {
    padding: 3rem 0 5rem;
    gap: 24rem;
  }
}

.wrap main .middle-content .one-col .column .results {
  display: block;
  gap: 1rem;
  color: #000;
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  .wrap main .middle-content .one-col .column .results {
    display: flex;
    padding-bottom: 0rem;
  }
}

.wrap main .middle-content .one-col .column svg {
  width: 11.188rem;
}

.wrap main .middle-content .one-col .column img {
  width: 9.563rem;
  margin: auto;
}

@media (min-width: 920px) {
  .wrap main .middle-content .one-col .column img {
    margin-left: 0;
  }
}

.wrap main .middle-content .plans-section {
  text-align: center;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: 0.063rem solid #d5dfff;
}

@media (min-width: 768px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
  }
}

@media (min-width: 920px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner {
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0.35rem;
  }
}

@media (min-width: 1200px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 75rem;
    margin: auto;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem 1.4rem;
  font-size: 0.9rem;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column h2 {
  font-size: 1.2rem;
}

@media (min-width: 920px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column h2 {
    font-size: 1.6rem;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column:first-child {
  display: none;
}

@media (min-width: 920px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column:first-child {
    display: flex;
    border-right: 0.063rem solid #d5dfff;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column:nth-child(2) {
  border-right: 0;
}

@media (min-width: 768px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column:nth-child(2) {
    border-right: 0.063rem solid #d5dfff;
  }
}

@media (min-width: 1200px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column {
    border-right: 0.063rem solid #d5dfff;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .price-wrapper {
  justify-content: center;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .free-text .lead {
  color: #673de6;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .ordering-plan {
  padding: 1rem 0;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .continue-plan {
  padding: 0rem 0 0.9rem;
  border-bottom: 0.063rem solid #d5dfff;
}

@media (min-width: 768px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .continue-plan {
    padding: 0;
    border-bottom: 0;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .button-wrapper button {
  max-width: 15.5rem;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .section_column__content {
  padding-bottom: 0.9rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .section_column__content .font-weight-bold {
  font-weight: 700;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column:last-child {
  border-right: 0;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .discount_info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .discount_info .discount__price_old span {
  text-decoration: line-through;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__inner .section_column .discount_info .discount__badge span {
  border-radius: 4rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ebe4ff;
  color: #5025d1;
  text-transform: uppercase;
  font-weight: 700;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__toogle_more {
  padding: 1.2rem 0;
  border-left: 0.0631rem solid #d5dfff;
  border-right: 0.0631rem solid #d5dfff;
  border-bottom: 0.0631rem solid #d5dfff;
}

@media (min-width: 920px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__toogle_more {
    display: none;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__toogle_more a {
  color: #673de6;
  font-weight: 700;
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__bottom {
  text-align: center;
  padding: 2rem 0;
}

@media (min-width: 920px) {
  .wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__bottom {
    padding: 3rem 0;
  }
}

.wrap main .middle-content .plans-section .plans-section__wrapper .plans-section__bottom a {
  color: #673de6;
  font-weight: 700;
}

.wrap main .middle-content .builder-section {
  padding-bottom: 2rem;
}

@media (min-width: 1200px) {
  .wrap main .middle-content .builder-section {
    padding-bottom: 3rem;
  }
}

.wrap main .middle-content .builder-section .builder-section__nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.wrap main .middle-content .builder-section .builder-section__nav .nav-for-desktop {
  display: none;
}

@media (min-width: 920px) {
  .wrap main .middle-content .builder-section .builder-section__nav .nav-for-desktop {
    display: block;
  }
}

.wrap main .middle-content .builder-section .builder-section__nav .nav-for-mobile {
  display: block;
  background-color: #fff;
  border: 1px solid #d5dfff;
  width: 100%;
  padding: 0.813rem 1rem;
}

@media (min-width: 920px) {
  .wrap main .middle-content .builder-section .builder-section__nav .nav-for-mobile {
    display: none;
  }
}

.wrap main .middle-content .builder-section .builder-section__nav ul {
  border-bottom: 0.063rem solid #d5dfff;
}

.wrap main .middle-content .builder-section .builder-section__nav ul li {
  padding: 0 0rem 1rem;
  display: inline-block;
}

.wrap main .middle-content .builder-section .builder-section__nav ul li a {
  color: #2f1c6a;
  text-decoration: none;
  padding-bottom: 0.9rem;
  font-weight: 600;
  padding: 0 1rem 0.9rem;
}

.wrap main .middle-content .builder-section .builder-section__nav ul li a:hover, .wrap main .middle-content .builder-section .builder-section__nav ul li a.active {
  color: #673de6;
  border-bottom: 0.125rem solid #673de6;
}

.wrap main .middle-content .grid-images-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 3rem;
}

@media (min-width: 1200px) {
  .wrap main .middle-content .grid-images-section {
    padding-bottom: 0;
  }
}

.wrap main .middle-content .grid-images-section img {
  margin: auto;
  max-height: 18.688rem;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .wrap main .middle-content .grid-images-section img {
    max-height: 31.188rem;
  }
}

@media (min-width: 1200px) {
  .wrap main .middle-content .grid-images-section img {
    max-height: auto;
  }
}

@media (min-width: 1200px) {
  .wrap main .middle-content .grid-images-section {
    grid-template-columns: 3fr 3fr 1fr 3fr;
  }
}

.wrap main .features-section {
  text-align: center;
  color: #fff;
  padding: 3rem 0;
  background-color: #2f1c6a;
}

.wrap main .features-section .heading-title {
  margin-bottom: 0;
}

.wrap main .features-section .features-section_list {
  text-align: center;
  padding-bottom: 1rem;
}

.wrap main .features-section .features-section_list ul li {
  padding-bottom: 1rem;
}

.wrap main .features-section .button-wrapper button {
  background-color: #fc5185;
}

@media (min-width: 920px) {
  .wrap main .features-section {
    display: none;
  }
}

.wrap footer {
  padding: 4rem 0;
  background-color: #ebe4ff;
}
